.portfolioBoxContainer {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background-color: rgba(216, 216, 216, 0.8);
    border-radius: 12px;
    padding: 1%;

    .portfolioInside {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}