.portfolioImageContainer {
    width: 13vw;
    height: 13vw;
    margin: 1%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        cursor: move;
    }

    &:last-child {
        margin-right: auto;
    }
}